<h1>{{title}}</h1>
<p>Welcome to {{title}}</p>

<form action="/search" method="GET">
  <label for="">Artist</label>
  <input type="text" name="artist" id="">
  <button type="submit">SEARCH</button>
</form>